<section class="haut">
  <div class="gauche">

    <div class="jumbotron__bad">
      <div class="jumbotron__wrapper">
        <div class="section">
          <div class="section__row section__row--x2">
            <h1 class="hdg h1  hdg--fs1">Your ecommerce site, simplified</h1>
          </div>
          <div class="section__row section__row--x4"><div class="userContent  userContent--intro">
          <p>Quickly build custom store content that differentiates your brand, reduces custom development, and accelerates DTC growth.</p></div></div><div class="section__row section__row--x6"><div class="hList hList--x1dot5 "><div class="hList__item"><a href="https://getshogun.com/page-builder/%20" target="" class="btn btn btn--primary ">Learn More</a></div></div></div></div></div></div>
  </div>
  <div class="droite">
    DROITE
    <img src="assets/corps.png">
  </div>
</section>
